*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.obit-controls-gizmo {
	position: absolute;
	top: 2em;
	right: 2em;
    z-index: 1000;
    background-color: #FFF0;
    border-radius: 100%;
    transition: background-color .15s linear;
    cursor: pointer;
}

.obit-controls-gizmo.dragging, .obit-controls-gizmo:hover  {
    background-color: #FFF3;
    
}

.obit-controls-gizmo.inactive {
    pointer-events: none;
    background-color: #FFF0 !important; 
}

.dg.a {
    float: left !important;
    margin-left: 2em !important;
}

#loading-bar-container {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    position: fixed;
    bottom: 0;
    left: 0;
}

#loading-bar {
    height: 100%;
    width: 0;
    background-color: #1d55c5;
    text-align: center;
    color: #ffffff;
}

.annotation {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
}

.playButtonContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
/*   background: linear-gradient(45deg, #FDD9A9, #FCA5AA); */
    border-radius: 6px;
    padding: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .playAnimationButton {
    width: 50px; /* Set your desired square size */
    height: 50px; /* Set your desired square size */
    margin: 0 10px; /* Space between buttons */
    text-align: center;
    line-height: 50px; /* Vertically center text */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    overflow: hidden;
  }

  .playAnimationButton svg {
    width: 40px; /* Set your desired icon size */
    height: 40px; /* Set your desired icon size */
    fill: #333; /* Icon color */
  }

  .svgIconUp, .svgIconDown, .svgIconInspect {
    margin-top: 5px;
    margin-left: 5px; /* Adjust this value as needed */
  }

  .animationSpeedSlider {
    width: 80%; /* Adjust width as needed */
    margin-bottom: 10px;
  }

  .sliderLabel {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .sliderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .sliderLabel {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .animationSpeedSlider {
    width: 80%; /* Adjust width as needed */
    margin-bottom: 10px;
  }